# Игнорировать файлы и директории, которые не должны быть скопированы в контейнер

# Файлы Docker
Dockerfile
docker-compose.yml

# Файлы Python
__pycache__/
*.pyc
.venv/

# Файлы логов
logs/

# Файлы окружения
.env

# Другие файлы, которые не должны быть скопированы
*.gitignore
*.idea/
.vscode/